.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.card-img-top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 600px;
    object-fit: cover;
}

.card-title {
    font-weight: bold;
    font-size: 1.2rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btn-primary {
    background: linear-gradient(45deg, #007bff, #6610f2);
    border: none;
    transition: all 0.3s;
}

.btn-primary:hover {
    background: linear-gradient(45deg, #6610f2, #007bff);
}

/* Styling untuk modal */
.modal-content {
    border-radius: 15px;
    overflow: hidden;
}

.modal-header {
    background: linear-gradient(45deg, #007bff, #6610f2);
    color: white;
    font-weight: bold;
}

.modal-body {
    background-color: #f8f9fa;
    border-radius: 0 0 15px 15px;
}

.modal-body img {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.list-group-item {
    background: white;
    border: none;
}

h4 {
    font-weight: bold;
}